/***** analytics Section *****/
 
.section-analytics {
    margin: 9.6rem 0;
  
    & .container {
      background-color: var(--bg-color);
      border-radius: 1rem;
    }
  
    & .grid {
      color: var(--dark-color);
  
      & .div1 {
        text-align: center;
        border-right: 0.2rem solid var(--dark-color);
  
        &:last-child {
          border: none;
        }
        & h2 {
          font-size: 4.8rem;
        }
        & p {
          text-transform: capitalize;
        }
      }
    }
  }
  
  /***** End analytics Section *****/