
.container{
    padding:  4.2rem 2.4rem;
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    gap: 3.2rem;
}

li, a{
    text-decoration: none;
    list-style: none;
    
}